@model GastroLab.Application.ViewModels.TimeSlotVM

@{
    ViewData["Title"] = "RegisterTime";
}

<h1>RegisterTime</h1>

<h4>RegisteredTime</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="RegisterTime">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control datepicker" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TimeFrom" class="control-label"></label>
                <input asp-for="TimeFrom" class="form-control timepicker" />
                <span asp-validation-for="TimeFrom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TimeTo" class="control-label"></label>
                <input asp-for="TimeTo" class="form-control timepicker" />
                <span asp-validation-for="TimeTo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<script>
    debugger;
    $(function () {
        $(".datepicker").datepicker();
        $(".timepicker").timepicker({
            'timeFormat': 'H:i',
            'step': 30
        });
    });
</script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
